<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="component-b">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <!-- <h2>Hello [[prop1]]!</h2> -->
    <ul>
      <li>Item 1</li>
      <li>Item 2</li>
      <li>Item 3</li>
      <li>Item 4</li>
      <li>Item 5</li>
      <li>Item 6</li>
      <li>Item 7</li>
    </ul>
  </template>

  <script>
    /**
     * `component-b`
     * &#39;componente B&#39;
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class ComponentB extends Polymer.Element {
      static get is() { return 'component-b'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'component-b'
          }
        };
      }
    }

    window.customElements.define(ComponentB.is, ComponentB);
  </script>
</dom-module>
